@font-face {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
        url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), 
        url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
        url("../fonts/karla-v22-latin-regular.woff2") format("woff2"), 
        url("../fonts/karla-v22-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
        url("../fonts/karla-v22-latin-700.woff2") format("woff2"), 
        url("../fonts/karla-v22-latin-700.woff") format("woff"); 
}

$ff:(
    main:"Karla",
    secondary:"DM Serif Display Regular"
)