@use "../abstracts/mixins";
.about{
    margin-bottom: 140px;
}
.about__title{
    position: relative;
    margin-bottom: 80px;
    text-align: center;
    &::before{
        content: "";
        position: absolute;
        top: -40px;
        width: 150px;
        height: 1px;
        background-color:#C396C6;
    }
}

.about__list{
    display: grid;
    grid-row-gap: 55px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(300px, 350px));
    place-content: center;
    place-items: baseline;
}

.about__item{
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    &::before{
        content: "";
        display: block;
        width: 86px;
        aspect-ratio: 1;
    }
}
@for $i from 1 through 3 {
    .about__item:nth-child(#{$i})::before{
        background-image: url("./images/about_section/about#{$i}.svg");
    }
}

.about__text{
    line-height: 26px;
}

.about__heading{
    font-family: var(--ff-secondary);
}

@include mixins.mq(desktop){
    .about__item{
        place-items: start;
        text-align: left;
    }
}

@include mixins.mq(desktop2){
    .about__title{
        position: relative;
        text-align: left;
    }
}