@use "../abstracts/mixins";

.site-article{
    margin-bottom: 150px;
    padding:24px 72px;
    background-image: url("./images/circles.svg");
    background-position: right -300px top -200px;
    background-size: 697px;
    background-repeat: no-repeat;
}

.site-article__inner{
    text-align: center;
    margin-inline: auto;
}

.site-article__title{
    line-height: 40px;
}

.site-article__link{
    @include mixins.defaultBtn(12px 25px, transparent, 1.5px solid var(--clr-neutral-100),var(--clr-neutral-100));
    @include mixins.hover(300ms,var(--clr-neutral-100),var(--clr-primary-200))
}
@include mixins.mq(laptop){
    .site-article__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-article__wrapper{
        max-width: 580px;
    }
    .site-article__title{
        text-align: left;
        font-size: 56px;
        line-height: 56px;
    }
}