@use "../abstracts/mixins";
.site-footer{
    background-image: url("./images/footer_circles.svg");
    background-position: left calc(50% - calc(100vw / 10)) top -450px;
    background-size: 697px;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}
.site-footer__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    padding-top: 67px;
    padding-bottom: 36px;
    border-bottom: 1px solid var(--clr-light-100);
}

.site-footer__bottom{
    display: grid;
    place-content: center;
}

.site-footer__item{
    text-align: center;
}

.site-footer__item:nth-child(1){
    margin-bottom: 36px;
}

.social-list{
    display: flex;
    align-items: center;
}

.social-list__item:not(:last-child){
    margin-right: 24px;
}

.social-list__link{
    color: var(--clr-light-100);
    &:hover{
        color: var(--clr-primary-100);
    }
    transition: color 300ms ease-in-out;

}



@include mixins.mq(medium){
    .site-footer__bottom{
        grid-template-columns: 1fr 1fr;
    }
    .site-footer__item{
        max-width: 327px;
        text-align: left;
    }
}

@include mixins.mq(tablet){
    .site-footer{
        background-position: left calc(50% - calc(100vw / 4)) top -450px;
    }
    .site-footer__bottom{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@include mixins.mq(laptop){
    .site-footer{
        background-position: left calc(50% - calc(100vw / 3)) top -450px;
    }
    .site-footer__bottom{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}