@use "../abstracts/mixins" as *;

.site-header {
  padding: 30px 0;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 15px;
}

.hamburger{
  display: grid;
  width: max-content;
  grid-row-gap: 5px;
  padding: 10px 8px;
  border: 2px solid var(--clr-primary-100);
}

.hamburger[toggleNav]{
  padding: 17px 8px;
}

.hamburger[toggleNav] .line:nth-child(1){
  position: absolute;
  transform: rotate(135deg);
}

.hamburger[toggleNav] .line:nth-child(2){
  transform: scale(0);
}

.hamburger[toggleNav] .line:nth-child(3){
  position: absolute;
  transform: rotate(-135deg);
}

.line{
  width: 16px;
  height: 2px;
  background-color: var(--clr-primary-100);
  transition: transform 300ms ease-in-out;
}

.navigation {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  display: grid;
  place-items: center;
  padding-block: 40px 300px;
  background-color: var(--clr-primary-200);
  display: none;
}

.navigation.show{
  display: grid;
  animation: fade-in 500ms forwards,slide-in 1s forwards;
  background-image: url("./images/circles.svg");
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: left calc(50% + 10px) bottom -85%;
}

.navigation.show .navigation__link{
  color: var(--clr-neutral-100);
}

.navigation.closing{
  animation: fade-out 500ms forwards,slide-out 1s forwards;
}

.navigation__list {
  display: grid;
  grid-row-gap: 24px;
  text-align: center;
}

.navigation__link {
  margin-left: 25px;
  line-height: 15px;
  font-size: 20px;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: none;
}

.navigation__plan-link {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}


@include mq(tablet){
  .hamburger{
    display: none;
  }
  .navigation{
    position: static;
    display: grid;
    grid-gap: 33px;
    grid-auto-flow: column;
    padding-block: 0;
    background-color: transparent;
  }
  .navigation__list{
    grid-auto-flow: column;
  }
  .navigation__link{
    font-size: var(--fz-100);
  }
  .navigation__plan-link{
    font-size: var(--fz-100);
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade-out{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

@keyframes slide-in{
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(0%);
  }
}

@keyframes slide-out{
  0%{
    transform: translateX(0%);
  }

  100%{
    transform: translateX(100%);
  }
}